<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/mvc
	   http://www.springframework.org/schema/mvc/spring-mvc.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <import resource="property.xml"/>
    <import resource="druid.xml"/>
    <import resource="spring-mybatis.xml"/>
    <import resource="mail-context.xml"/>
    <import resource="spring-memcache.xml"/>
    <import resource="qconfig.xml"/>
    <import resource="spring-security.xml"/>

    <!-- 静态资源映射，不经过controller -->
    <mvc:resources mapping="/resources/css/*.css" location="/resources/css/"/>
    <mvc:resources mapping="/resources/js/*.js" location="/resources/js/"/>
    <mvc:resources mapping="/*.ico" location="/resources/img/"/>

    <context:component-scan base-package="com.qunar.hotconfig"/>

</beans>
